@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;}

body {
    align-items: center;
    min-height: 100vh;
    background:#1c234a; 
    /* acrescentei imagem de fundo abaixo.*/
    background-image: url(bg.png);
    background-size:cover;
	background-repeat: no-repeat;
	width:100%;
	height: 100vh;
	position: relative;
   
}

ul {
    position: relative;
}

ul li span {
    position: relative;
    top: -2px;
    left: -10px;
    color: transparent
}

ul li:hover span{
    color:#FF1493;
    
}

ul li {
    list-style: none;
    margin: 0 20px;
    font-size: 1.5em;
}

ul li a {
    position: relative;
    color:rgba(255,255,255,0.1);
    text-decoration: none;
    font-weight: 700;
}

ul li a:before{  
    content: attr(data-text);
    position: absolute;
    top: 0;
    color: #1bfaad; 
    white-space: nowrap;
    overflow: hidden;
}

ul:hover li a:before{
    animation: animate 0.1s steps(11) forwards;
}

@keyframes animate
{ 0%
    {
        width: 389.933px;
    }
    100%
    {
        width: 0px;
    }
}

ul li:hover a:before{
    animation: animate2 1s steps(11) forwards;
}

@keyframes animate2
{ 0%
    {
        width: 0px;
    }
    100%
    {
        width: 389.933px;
    }
}