body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.loader {
    width: 10em;
    height: 10em;
    border: 1px dashed white;
    font-size: 25px;
    border-radius: 50%;
    border-top: 0.3em solid hotpink;
    position: relative;
    box-sizing: border-box;
}

.loader::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-top: 0.3em solid dodgerblue;
    border-radius: 50%;
    box-sizing: border-box;
    transform: rotate(120deg);
    top: -0.2em;
}



.loader span {
    color: white;
    width: inherit;
    height: inherit;
    position: absolute;
    text-align: center;
    line-height: 10em;
    font-family: sans-serif;
}