body {
    background-color: lightblue;
    background-image:url(santos.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;} /* fixa a imagem e nao some quando a barra é rolada p baixo */



 /*PROPRIEDADE ABREVIADA:
- Você pode usar a propriedade abreviada background: 

 Ao usar a propriedade abreviada, a ordem dos valores da propriedade é:

    background-color
    background-image
    background-repeat
    background-attachment
    background-position

Não importa se um dos valores da propriedade está faltando, desde que o outros estão nesta ordem.


body {
    background: lightblue url(santos.png) no-repeat fixed right top;
} 
*/