/* 
A BACKGROUND-COLOR propriedade especifica a cor de fundo de um elemento.
*/


body {
    background-color: #283149;
    color:#f73859;
    text-align: center;
}

h1 {
    background-color: white;
}

p {
    background-color: #dbedf3;
    font-size: 30px;
}

/*
Opacidade / Transparência
- A propriedade OPACITY especifica a opacidade / transparência de um elemento.
- Pode assumir um valor de 0,0 a 1,0. Quanto menor o valor, mais transparente:
*/

div {
    background-color:#a21232;
    font-size: 20px;
}

div.first {
    opacity: 0.1;
}
  
div.second {
    opacity: 0.3;
}
  
div.third {
    opacity: 0.6;
}