html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0a043c, #03506f);
}

.battery {
    width: 6em;
    height: 3em;
    color: #fffaa4;
    border: 0.5em solid currentColor;
    border-radius: 0.2em;
    font-size: 2em;
    position: relative;
    background-image: linear-gradient(to right,#94ff94, #00ff00);
    background-repeat: no-repeat;
    background-size: 30% 80%;
    background-position: top 0.3em left 0.3em;
    animation: charge 5s steps(9) infinite;
    
}

.battery::after {
    position: absolute;
    content: '';
    width: 0.5em;
    height: 2em;
    background-color: currentColor;
    top: 0.5em;
    right: -1em;
    border-radius: 0 0.2em 0.2em 0;
}

@keyframes charge {
    from {
        background-size: 10% 80%;
    }
    
    to {
        background-size: 95% 80%;
    }
}
