/* 

seletor {
    propriedade: valor } 

- O SELETOR aponta para o elemento HTML que você deseja estilizar.
- O {bloco de declaração} contém uma ou mais declarações separadas por ponto e vírgula.
- Cada declaração inclui um nome de PROPRIEDADE CSS e um VALOR, separados por dois pontos.
- Várias declarações CSS são separadas por ponto e vírgula e os blocos de declaração são cercados por chaves.


SELETORES SIMPLES selecionam os elementos com base no nome, id, classe.
*/ 

h1 {
    text-align: center;
    color: green;
}

/* 

O seletor de id CSS:
- O seletor de id usa o atributo id de um elemento HTML para selecionar um elemento específico.
- O id de um elemento é único dentro de uma página, então o seletor id é usado para selecionar um elemento único.
- Para selecionar um elemento com um id específico, escreva um caractere #, seguido pelo id do elemento.

*/ 

#exemplo {
    text-align: center;
    color: green;
}

/*

O seletor de classe CSS:
- O seletor de classe seleciona elementos HTML com um atributo de classe específico.
- Para selecionar elementos com uma classe específica, escreva um ponto (.), Seguido do nome da classe.

*/

.exemplo2 {
    text-align: center;
    color: green;
}

/*
Você também pode especificar que apenas elementos HTML específicos devem ser afetados por uma classe.
*/

p.exemplo3 {
    text-align: center;
    color:green;
}

/*
Os elementos HTML também podem se referir a mais de uma classe.
*/

p.center {
    text-align: center;
}

p.large {
    font-size: 200%;
}

/*
O seletor universal (*) seleciona TODOS os elementos HTML na página.
*/

* {
    font-style: italic; /* Afetará todos os elementos HTML na página.*/
}


/*
O seletor de agrupamento CSS:
- Seleciona todos os elementos HTML com as mesmas definições de estilo.
- Observe o seguinte código CSS (os elementos h5, h6 têm as mesmas definições de estilo, será melhor agrupar
os seletores, para minimizar o código.
- Para agrupar seletores, separe cada seletor com uma vírgula.
*/

h5, h6 {
    color:red;
    text-align: right;
}

